/* mini reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* layout */
body {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
  font-size: 14px;
  transition: all 0.2s;
  background-color: #fdfcdc;
}

h1 {
  font-size: 40px;
}

aside {
  background-color: #f07167;
  color: #fff;
  padding: 2rem;
  font-size: 20px;
}

#main {
  padding: 0.5rem;
  background-color: #00afb9;
  color: #fff;
}

#search-form input {
  width: 50%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

#search-form input[type="submit"] {
  margin: 1em 0 0 0;
  width: auto;
}
